{% extends 'base.html' %}

{% block header %}
<h3>{% block title %}Book{% endblock %}</h3>
{% endblock %}

{% block body %}


<div class="col-12 col-sm-6 col-lg-8 col-md-8 bg-info left">
    <h2>Results For Book Title/Isbn#:</h2>
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <h3><span class="badge badge-pill badge-light">Book Tile: </span></h3>
            <h4><a href="#" class="badge badge-dark">Title of Book</a></h4>
            <h3><span class="badge badge-pill badge-light">Book Author:</span></h3>
            <h4><a href="#" class="badge badge-dark">Author of Book</a></h4>
            <h3><span class="badge badge-pill badge-light">Isbn #:</span></h3>
            <h4><a href="#" class="badge badge-dark">Isbn # of Book</a></h4>
        </div>

        <div class="col-lg-7 col-md-7">
            <h3><span class="badge badge-pill badge-light">Reviews From App:</span></h3>
            <h4><a href="#" class="badge badge-dark"># of Reviews if any</a></h4>
            <h3><span class="badge badge-pill badge-light">Review Score From API:</span></h3>
            <h4><a href="#" class="badge badge-dark">Score From 1 to 5 For Book</a></h4>
            <h3><span class="badge badge-pill badge-light"># Of Reviews From API</span></h3>
            <h4><a href="#" class="badge badge-dark"># Of Reviews</a></h4>
        </div>

    </div>

</div>

{% endblock %}

{% block content2 %}{% endblock %}