{% extends 'base.html' %}

{% block header %}
<h3>{% block title %}Home{% endblock %}</h3>
{% endblock %}

{% block body %}

<div class="col-12 col-sm-6 col-lg-8 bg-info left">
    <h2>Random Picks:</h2>
    <div class="row">
        <div class="col-lg-4">
            <h2>Comic</h2>
            <h4># 1</h4>
            <h5><a href="#" class="badge badge-danger" class="badge badge-danger">Title Book 1</a></h5>

            <h4># 2</h4>
            <h5><a href="#" class="badge badge-danger">Title Book 2</a></h5>

            <h4># 3 </h4>
            <h5><a href="#" class="badge badge-danger">Title Book 3</a></h5>
        </div>

        <div class="col-lg-4">
            <h2>Book</h2>
            <h4># 4 </h4>
            <h5><a href="#" class="badge badge-danger">Title Book 4</a></h5>

            <h4># 5 </h4>
            <h5><a href="#" class="badge badge-danger">Title Book 5</a></h5>

            <h4># 6 </h4>
            <h5><a href="#" class="badge badge-danger">Title Book 6</a></h5>
        </div>
        <div class="col-lg-4">
            <h2>Anime</h2>
            <h4># 7 </h4>
            <h5><a href="#" class="badge badge-danger">Title Book 7</a></h5>


            <h4># 8 </h4>
            <h5><a href="#" class="badge badge-danger">Title Book 8</a></h5>

            <h4># 9 </h4>
            <h5><a href="#" class="badge badge-danger">Title Book 9</a></h5>
        </div>
    </div>
</div>

{% endblock %}