{% extends 'index1.html' %}

{% block header %}
<h3>{% block title %}Home{% endblock %}</h3>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-4">
        <h2>Comic</h2>
        <h4># 1</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4># 2</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
            fermentum.</p>

        <h4># 3 </h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="col-lg-4">
        <h2>Book</h2>
        <h4># 4 </h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4># 5 </h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
            fermentum.</p>

        <h4># 6 </h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
    <div class="col-lg-4">
        <h2>Anime</h2>
        <h4># 7 </h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4># 8 </h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
            fermentum.</p>

        <h4># 9 </h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
</div>
{% endblock %}