{% extends 'base.html' %}

{% block header %}
<h3>{% block title %}Search{% endblock %}</h3>
{% endblock %}

{% block body %}

<div class="col-12 col-sm-6 col-lg-8 col-md-8 bg-dark search left">
    <h2>Results From Search:</h2>
    <div class="row">
        <div class="col-md-6">

            <h4>#</h4>
            <h5><a href="{{ url_for('book') }}" class="badge badge-warning">Book 1</a></h5>
            <h4>#</h4>
            <h5><a href="#" class="badge badge-warning">Book 2</a></h5>
            <h4>#</h4>
            <h5><a href="#" class="badge badge-warning">Book 3</a></h5>
            <h4>#</h4>
            <h5><a href="#" class="badge badge-warning">Book 4</a></h5>
            <h4>#</h4>
            <h5><a href="#" class="badge badge-warning">Book 5</a></h5>
        </div>
        <div class="col-md-6">

            <h4>#</h4>
            <h5><a href="#" class="badge badge-warning">Book 6</a></h5>
            <h4>#</h4>
            <h5><a href="#" class="badge badge-warning">Book 7</a></h5>
            <h4>#</h4>
            <h5><a href="#" class="badge badge-warning">Book 8</a></h5>
            <h4>#</h4>
            <h5><a href="#" class="badge badge-warning">Book 9</a></h5>
            <h4>#</h4>
            <h5><a href="#" class="badge badge-warning">Book 10</a></h5>
        </div>

    </div>
</div>

{% endblock %}