{% extends 'index1.html' %}

{% block header %}
<h3>{% block title %}Search{% endblock %}</h3>
{% endblock %}

{% block content2 %}
<div class="row">
    <div class="col-12 col-sm-6 col-lg-12 bg-dark search">
        <h2>Results From Search:</h2>
        <div class="row">
            <div class="col-lg-4">

                <h4>#</h4>
                <p><a href="#">Book 1</a></p>
                <h4>#</h4>
                <p><a href="#">Book 2</a></p>
                <h4>#</h4>
                <p><a href="#">Book 3</a></p>
            </div>
            <div class="col-lg-4">

                <h4>#</h4>
                <p><a href="#">Book 4</a></p>
                <h4>#</h4>
                <p><a href="#">Book 5</a></p>
                <h4>#</h4>
                <p><a href="#">Book 6</a></p>
            </div>
            <div class="col-lg-4">

                <h4>#</h4>
                <p><a href="#">Book 7</a></p>
                <h4>#</h4>
                <p><a href="#">Book 8</a></p>
                <h4>#</h4>
                <p><a href="#">Book 9</a></p>
            </div>

        </div>
    </div>
</div>
{% endblock %}