{% extends 'base.html' %}

{% block header %}
<h3>{% block title %}Search{% endblock %}</h3>
{% endblock %}

{% block body %}

<div class="col-12 col-sm-6 col-lg-8 bg-dark search left">
    <h2>Results From Search:</h2>
    <div class="row">
        <div class="col-md-6">

            <h4>#</h4>
            <p><a href="#">Book 1</a></p>
            <h4>#</h4>
            <p><a href="#">Book 2</a></p>
            <h4>#</h4>
            <p><a href="#">Book 3</a></p>
            <h4>#</h4>
            <p><a href="#">Book 4</a></p>
            <h4>#</h4>
            <p><a href="#">Book 5</a></p>
        </div>
        <div class="col-md-6">

            <h4>#</h4>
            <p><a href="#">Book 6</a></p>
            <h4>#</h4>
            <p><a href="#">Book 7</a></p>
            <h4>#</h4>
            <p><a href="#">Book 8</a></p>
            <h4>#</h4>
            <p><a href="#">Book 9</a></p>
            <h4>#</h4>
            <p><a href="#">Book 10</a></p>
        </div>

    </div>
</div>

{% endblock %}